@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* BODY */
body {
    background: #eee;
    font-family: "Source Sans Pro";
    font-weight: 200;
}
a {
    text-decoration: none;
}
p {
    font-size: 0.8em;
    text-align: justify;
    padding: 0 10px;
}
/* CONTAINER */
.newspaper-container {
   width: 700px; 
   padding: 1em;
   margin: 3em auto;
   box-shadow: 1px 1px 10px #ddd;
   box-sizing: border-box;
   background: white;
   border-radius: 12px;
}

/* HEADER */
.date {
    font-size: 0.8em;
}
header h1 {
    font-family: "Abril Fatface";
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

/* NAVIGATION */
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 5px 0;
    top: 0;
    background: white;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav li {
    display: inline-block;
    padding: 0 0.5em;
}
nav a {
    font-size: 0.8em;
    color: #777;
}

/* FRONT PAGE ARTICLE */
main h2 {
    font-family:"Roboto Slab";
    margin-bottom: 0;
}
main h5 {
    font-family: "Abril Fatface";
    color: #dd3232;
    margin-top: 0.5em;
}
main img {
    width: 100%;
}
/* smaller articles */
.more-articles {
    /* border-top: 1px solid #eee;
    margin-top: 1.5em;
    text-align: center; */
    display: inline-block; 
    display: flex;
    justify-content: space-around;
}

.more-articles section {
    width: 100%;
    margin: 0 10px;
}

.more-articles section  img {
    /* display: inline-block;
    width: 30%;
    margin: 0 1em; */
    box-sizing: border-box;

    width: 100%;
}

/* .more-articles img {
    width: 100%;
} */
.more-articles h4 {
    font-family: "Roboto Slab";
    text-align: left;
}



